body {
  font-family: 'Montserrat';
  text-align: center;
}

h2{
  font-size: 3rem;
}

h3{
  font-weight: 500;
}

p {
  color: #8f8f8f;
}

/* heading section */
.big-heading {
  font-size: 3.5rem;
  font-weight: 900;
  color: white;
  line-height: 1.5;
}

.section-heading {
  font-weight: 700;
  line-height: 1.5;
}

/* containers */
.container-fluid {
  padding: 7% 15%;
}

/* navbar section */
.navbar {
  padding: 0 0 8.5%;
}

.navbar-brand {
  font-family: 'ubuntu';
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Montserrat';
}

/* title section */
#title {
  background-color: #ff4c68;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.image-parent {
  position: relative;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* feature box */
#Features {
  position: relative;
  background-color: white;
}

.feature-box {
  padding: 2.5%;
  line-height: 1.5;
}

.feature-icons {
  font-size: 60px;
  color: #ef8172;
  margin: 5%;
}

.feature-heading {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1.5rem;
  color: #000;
}

/* testimonial section */
#testimonial {
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  border-radius: 50%;
  width: 10%;
  margin: 2%;
}

/* press section */
#press {
  background-color: #ef8172;
}

.press-icons {
  width: 15%;
  margin: 30px 20px 50px;
}

/* pricing section */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.card-text {
  line-height: 1.5;
}

.pricing-button{
  margin: 5%;
}

/* cta section */
#cta {
  background-color: #ff4c68;
}

.cta-heading {
  color: #fff;
  width: 90%;
  margin: auto;
  font-weight: 700;
}

/* footer section */
.social-icons {
  margin: 20px 10px;
}

/* media queries */
@media screen and (max-width: 1128px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

@media screen and (max-width: 1112px) and (min-width: 993px) {
  .big-heading {
    font-size: 3rem;
  }
}

@media screen and (max-width: 625px) {
  .big-heading {
    font-size: 2.75rem;
  }

  .testimonial-text {
    font-size: 2.5rem;
  }
}
